{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
	{% if brand.sitewide_announcement_7 and brand.show_sitewide_announcement_8 %}
		{% include 'partial/sitewide-announcement.twig' %}
	{% endif %}
	{% block header %}
		<nav id="nav-main" class="nav-main " role="navigation">
			{% include "menu.twig" with {'items': menu.get_items} %}
		</nav>
		<!-- #nav -->
	{% endblock %}
</header>

<main>
	<div class="wrapper {{sidebar_class}}">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}
</main>
{# {% apply shortcodes %}
[blocks_dump]
{% endapply %} #}


{% block footer %}
	<footer id="footer">
		{% if brand.footer_message_9 and brand.show_footer_message_10 %}
			{% include 'partial/footer-message.twig' %}
		{% endif %}
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
{% if fn('is_front_page') and brand.structured_data_0 %}
	{% include 'partial/structured-data.twig' %}
{% endif %}</body></html>
